[Unit]
Description=DUNST Notifications Daemon
After=X11@%i.target
Requisite=X11@%i.target

[Service]
ExecStart=/usr/bin/dunst -conf $XDG_CONFIG_HOME/dunst/dunstrc
Environment=DISPLAY=%I

[Install]
WantedBy=default.target

