[Unit]
Description=DWMBlocks Daemon
After=xorg.target
Requires=xorg.target
After=X11@%i.target
Requisite=X11@%i.target

[Service]
ExecStart=/usr/local/bin/dwmblocks
Restart=always
RestartSec=10
Environment=DISPLAY=%I

[Install]
WantedBy=wm.target
