[Unit]
Description=Simple X Keyboard Daemon
After=X11@%i.target
Requisite=X11@%i.target

[Service]
ExecStart=/usr/bin/sxhkd
Environment=DISPLAY=%I

[Install]
WantedBy=default.target

